.container {
    display: flex;
    overflow: hidden;
    justify-content: left;
    align-items: center;
    width: 100%;
    height: 100%;   
}

.wrapper {
    display: flex;
    justify-content: left;
    align-items: center;
    font-size: 20px;
    padding: 0;
    width: 100%;
    height: 50px;
    background-color: #1124ee
}

.brand {
    display: flex;
    flex-direction: row;
    padding-left: 25px;
}

.navbar {
    display: flex;
    overflow: hidden;
    justify-content: left;
    align-items: center;
}

.navbar>li {
    list-style-type: none;
    padding: 10px;
}

.navbar>li>a {
    color: white;
    font-size: 15px;
    text-decoration: none;
    padding-left: 30px;
    padding-right: 1px;
}
body {
    background-color: #E5DC1A;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
ul {
    margin-left: -45px;
}
li {
    list-style: none;
    display: inline-block;
}
.gambar-tengah {
    margin: 0%;
    padding-top: 5%;
}
.img {
    background-image: url(html/arema.png);
    background-color: #eaeaea;
    background-size: cover;
    border-radius: 100px;
    width: 150px;
    height: 150px;
    margin: 0 auto;
    border: 1px solid #1124ee;
}
h2 {
    text-align: center;
    font-size: 30px;
    margin: 0;
    font-weight: bold;
    color: #1124ee;
    padding-top: 3%;
}
.deskripsi {
    text-align: center;
    font-size: 18px;
    margin: 0;
    color: #1124ee;
    padding-top: 2%;
}
p {
    margin: 0 auto;
    padding-top: 20px;
    width: 450;
    height: auto;
    color: #eaeaea;
    background: #1124ee;
}
.My-footer {
    text-align: center;
    background: #1124ee;
    height: 8%;
    color: #eaeaea;
}